*
{
    margin: 0;
    padding: 0;
}

html,
body
{
   margin: 0;
    height: 100%;
    font-family: 'Poppins';
}

button
{
    position:fixed;
    background-color: gray;
    z-index: 10;
    padding: 5px;
}

video
{
    height:100%;
    width:100%;
}

.webgl
{
    width: 100%;
    height: 100%;
    display: block;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #monitor, #mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #monitor {
    background-color: black;
  }